/**
 * @author Saki
 * @date 2019-02-09 21:48:12
 * @Last Modified by: Saki
 * @Last Modified time: 2019-04-28 21:06:15
 *
 * SASS file for Roboto font
 */
/* <remove-on-release> */
/* cSpell: ignore woff */
/* </remove-on-release> */

@font-face {
  font-family: Roboto;
  src: url('./fonts/roboto/Thin/Roboto-Thin.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto/ThinItalic/Roboto-ThinItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto/Thin/Roboto-Thin.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/roboto/ThinItalic/Roboto-ThinItalic.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 100;
}

@font-face {
  font-family: Roboto;
  src: url('./fonts/roboto/Light/Roboto-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto/LightItalic/Roboto-LightItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto/Light/Roboto-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/roboto/LightItalic/Roboto-LightItalic.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url('./fonts/roboto/Regular/Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto/Italic/Roboto-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto/Regular/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/roboto/Italic/Roboto-Italic.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url('./fonts/roboto/Medium/Roboto-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto/MediumItalic/Roboto-MediumItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto/Medium/Roboto-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/roboto/MediumItalic/Roboto-MediumItalic.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url('./fonts/roboto/Bold/Roboto-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto/BoldItalic/Roboto-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto/Bold/Roboto-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/roboto/BoldItalic/Roboto-BoldItalic.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url('./fonts/roboto/Black/Roboto-Black.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto/BlackItalic/Roboto-BlackItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto/Black/Roboto-Black.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/roboto/BlackItalic/Roboto-BlackItalic.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 900;
}

// eof